<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Actualizar Barco</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">Nombre</label>
                                <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="cuadroNombre">
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password">Número de Amarre</label>
                                </div>
                                <input id="apellidos" type="text" class="form-control" name="apellidos" placeholder="Numero de amarre" [(ngModel)]="cuadroAmarre">
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password">Cuota</label>
                                </div>
                                <input id="dni" type="text" class="form-control" name="dni" placeholder="Cuota" [(ngModel)]="cuadroCuota">
                            </div>

                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-primary ms-auto" (click)="actualizarBarco()">
                                    Actualizar Barco
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Created by David Bellido Garcia
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2023 &mdash; ATOS 
                </div>
            </div>
        </div>
    </div>
</section>
